In [3]:
#dictionary
x={"a":1,"b":4.45,"c":"Astring"}
print(type(x))

<class 'dict'>

In [2]:
x={'a':'1',"g":'f'}
print(type(x))

<class 'dict'>

In [13]:
print(x["a"])

1

In [5]:
print(x["b"])

4.45

In [5]:
print(x['c'])

Astring

In [14]:
#create a dictionary
emt=dict()
print(emt)

{}

In [8]:
print(x)

{'a': 1, 'b': 4.45, 'c': 'Astring'}

In [9]:
x.keys()

dict_keys(['a', 'b', 'c'])

In [11]:
x

{'a': 1, 'b': 4.45, 'c': 'Astring'}

In [12]:
x['newky']=34
print(x)

{'a': 1, 'b': 4.45, 'c': 'Astring', 'newky': 34}

In [13]:
x['a']=25
print(x)

{'a': 25, 'b': 4.45, 'c': 'Astring', 'newky': 34}

In [14]:
print(x.values())

dict_values([25, 4.45, 'Astring', 34])

In [1]:
x={'a':1,'b':1,'a':23}
print(x['a'])
print(x)

23
{'a': 23, 'b': 1}

In [23]:
print(x.keys())

dict_keys(['a', 'b'])

In [24]:
print(x.values())

dict_values([1, 1])

In [7]:
emp = {
    'empno' :[100,101,102],
    'ename':['ravi','kiran','indra'],
    'salary':[100,200,300]
}
print(emp)

{'empno': [100, 101, 102], 'ename': ['ravi', 'kiran', 'indra'], 'salary': [100, 200, 300]}

In [9]:
totsal=0
for i in emp['salary']:
    totsal=totsal+i
print(totsal)

600

In [33]:
print(emp['empno'][0])

100

In [35]:
print(emp['ename'])

['ravi', 'kiran', 'indra']

In [36]:
for i in emp:
    print(i)

empno
ename
salary

In [46]:
totsal=0
for i in emp['salary']:
    totsal =totsal+i
print(totsal)

600

In [53]:
counts={'chuck':1,'annie':42,'jan':100}
for i in ['chuck','annie','jan']:
    print(i,counts[i])

chuck 1
annie 42
jan 100

In [49]:
counts={'chuck':1,'annie':[42,44],'jan':100}
for key in counts:
    print(key,counts[key])

chuck 1
annie [42, 44]
jan 100

In [56]:
counts={'chuck':1,'annie':[42,44],'jan':100}
print(counts.get('jan'))
print(counts.get('mar','key not found'))

100
key not found

In [60]:
counts={'chuck':1,'annie':42,'jan':100}
for key in counts:
    if(counts[key]>10):
        print(key,counts[key])

annie 42
jan 100

In [96]:
list1=['ravi','indra','kiran']
empnum ={
    'ravi':99898,'kiran':99898
}
for i in list1:
    if i not in empnum:
        print(i)

indra

In [84]:
empnum ={
    'ravi':99898,'kiran':99898,'indra':''
}
for i in ['ravi','john']:
    print(str(i)+'\'s phone number is',str(empnum.get(i,'unavailable')))

ravi's phone number is 99898
john's phone number is unavailable

In [10]:
word='popularmartofbangalore'
empt=dict()
for i in word:
    empt[i]=empt.get(i,0)+1
print(empt)

{'p': 2, 'o': 3, 'u': 1, 'l': 2, 'a': 4, 'r': 3, 'm': 1, 't': 1, 'f': 1, 'b': 1, 'n': 1, 'g': 1, 'e': 1}

In [12]:
sent ='india india is is a'
empt=dict()
sent=sent.split( )
#print(sent)
for i in sent:
     empt[i]=empt.get(i,0)+1
print(empt)

{'india': 2, 'is': 2, 'a': 1}

In [95]:
word='popularmartofbangalore'
empt=dict()
for i in word:
        empt[i]=empt.get(i,0)+1
print(empt)

{'p': 2, 'o': 3, 'u': 1, 'l': 2, 'a': 4, 'r': 3, 'm': 1, 't': 1, 'f': 1, 'b': 1, 'n': 1, 'g': 1, 'e': 1}

In [98]:
phone={'john':[99999,7494383],'ravi':[948595,2423432]}
for i in phone:
    print(phone[i][1])

7494383
2423432

In [115]:
str1='this is my india india is my country i love is india'
str2=str1.split()
empt=dict()
for i in str2:
    empt[i]=empt.get(i,0)+1
print(empt)
large=0
value=''
for i in empt:
    if(empt[i]>large):
        large=empt[i]
        value=i
    elif(empt[i]==large):
        value=value+','+i
print(value,large)

{'this': 1, 'is': 3, 'my': 2, 'india': 3, 'country': 1, 'i': 1, 'love': 1}
3
is,india 3

In [117]:
str1='this is my india india is my country i love is india'
str2=str1.split()
empt=dict()
for i in str2:
    empt[i]=empt.get(i,0)+1
print(empt)
high = max(empt.values())
for i in empt:
    if(empt[i]== high):
        print(i)

{'this': 1, 'is': 3, 'my': 2, 'india': 3, 'country': 1, 'i': 1, 'love': 1}
is
india

In [16]:
#string replace "aeiou" by "12345"
str1=input('enter any string')
strdict={'a':'1','e':'2','i':'3','o':'4','u':'5'}
str2=[]
for i in str1:
    i=i.lower()
    str2.append(strdict.get(i,i))
print("".join(str2))

enter any stringrafsadasd
r1fs1d1sd

In [36]:
#string replace "aeiou" by "12345"
str=input("enter any string")
#using dictionaries
str1=[]
strdict={'a':'1','e':'2','i':'3','o':'4','u':'5'}
for i in str:
        i=i.lower()
        str1.append(strdict.get(i,i))
print(str1)
"".join(str1)

enter any stringravi
['r', '1', 'v', '3']

'r1v3'

In [20]:
str1 =input('enter a string')
str2 = list(map(lambda x:strdict.get(x.lower(),x.lower()),str1))
"".join(str2)

enter a stringravi

'r1v3'

In [22]:
str1 =input('enter a string')
str2= [strdict.get(i.lower(),i.lower()) for i in str1]
"".join(str2)

enter a stringravi

'r1v3'

In [55]:
#using map 
str=input("enter a  string")
str1=list(map(lambda x:strdict.get(x.lower(),x.lower()),str))
"".join(str1)

enter a  stringravi

'r1v3'

In [52]:
#using listcomprehension
str3 =input("enter any string")
strdict={'a':'1','e':'2','i':'3','o':'4','u':'5'}
str1=[strdict.get(i.lower(),i.lower()) for i  in str3]
"".join(str1)

enter any stringravi

'r1v3'

In [62]:
#maketrans and translate maketrans has 3 parameters src ,dest and delchar 
#src is the what to be replaced 
#dest with what it should be replaced
#delchar is which characger to be deleted
str1="ravindra"
tbl = str1.maketrans("aeiou","12345")
print(str1.translate(tbl))

r1v3ndr1

# Tuples

In [21]:
t= ('a','b',1,2,'e')
print(t)
print(type(t))

('a', 'b', 1, 2, 'e')
<class 'tuple'>

In [23]:
t=(1,2,3,'a')
print(t)
print(type(t))

(1, 2, 3, 'a')
<class 'tuple'>

In [65]:
t=tuple('lupins')
print(t)

('l', 'u', 'p', 'i', 'n', 's')

In [66]:
#tuples are immutable we cannot change the values
t[0]=1

TypeError: 'tuple' object does not support item assignment

In [67]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [25]:
t=('aaabb')
t.count('a')

3

In [5]:
t=('addd','b')
t.index('b')

1

In [28]:
t=('aradd')
print(t)

aradd

In [6]:
d={'a':1,'z':12,'c':22}
print(tuple(d))
print(d.items())
lst=list(d.items())
print(lst)

('a', 'z', 'c')
dict_items([('a', 1), ('z', 12), ('c', 22)])
[('a', 1), ('z', 12), ('c', 22)]

In [78]:
lst.sort()
print(lst)
dict(lst)

[('a', 1), ('c', 22), ('z', 12)]

{'a': 1, 'c': 22, 'z': 12}

In [32]:
a=[1,2,3]
b=[3,4,5]
z=tuple(zip(a,b))
print(z)

((1, 3), (2, 4), (3, 5))

In [79]:
#zipping the lists into tuple
a=[1,2,3]
b=[3,4,5]
z=tuple(zip(a,b))
print(z)

((1, 3), (2, 4), (3, 5))

In [85]:
#zipping the lists into tuple
a=[1,2,3,1]
b=[3,4,5,6]
z=dict(zip(a,b))
print(z)

{1: 6, 2: 4, 3: 5}

In [87]:
import itertools as itr
list(itr.product(a,b))

[(1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6)]

In [27]:
num1=int(input("enter number"))
count=0
for j in range(2,num1):
    if(num1%j==0):
        count=1
        break
if(count==0 and num1!=1):
    print(num1)

enter number6

In [8]:
import pandas as pd
p_dict={'a':1,'d':1,'c':3}
a=pd.Series(p_dict)
a

a    1
c    3
d    1
dtype: int64