In [1]:
big=max('hello world')
print(big)

w

In [2]:
tiny=min('hello world')
print(tiny)

In [5]:
for i in range(10):
    print(random.randint(1,10))

8
4
9
5
7
1
5
4
9
6

In [4]:
import random
for i in range(10):
    x=random.randint(i,10)
    print(x)
random.randint(5,10)

8
2
10
5
9
7
7
8
8
10

6

In [10]:
import math
a=10
b=20

ratio = a/b
decibels = 10*math.log10(ratio)
radians=0.7
height=math.sin(radians)
degrees=45
radians=degrees/360.0*2*math.pi
math.sin(radians)
math.sqrt(2)/2.0

x=math.cos(radians)
golden=(math.sqrt(5)+1)/2

print(ratio)
print(x)
print(radians)
print(golden)
print(degrees)

0.5
0.7071067811865476
0.7853981633974483
1.618033988749895
45

In [6]:
#defining the funciton
def print_lyrics():
    print("i love kulfi")

In [7]:
print(type(print_lyrics))
for i in range(3):
    print_lyrics()

<class 'function'>
i love kulfi
i love kulfi
i love kulfi

In [9]:
def print_twice(a):
    print(a)
    print(a)

In [10]:
print_twice('Python')

Python
Python

In [13]:
print('a'*4)
print(10*4)

aaaa
40

In [14]:
print_twice('spam '*4)

spam spam spam spam
spam spam spam spam

In [3]:
def replace_negative(val):
    if val<0:
        out=0
    else:
        out=val
        
    return out

In [4]:
print(replace_negative(-19))
print(replace_negative(100))

0
100

In [5]:
def prime(num):
    half=int(num/2)+1
    for i in range(2,half):
        if(num%i==0):
            return("not prime")
    return 'prime'

In [9]:
prime(4)

'not prime'

In [25]:
prime(9)

'not prime'

In [43]:
prime(10)

'not prime'

In [82]:
def print_prime(i,num2):
        count=0
        for j in range(2,num2):
            if(i%j==0):
                count=count+1    
        if(count<=1):
            print(i)

In [83]:
num1=int(input("enter first number"))
num2 =int(input("enter second number"))
for i in range(num1,num2+1):
    print_prime(i,num2)

enter first number5
enter second number20
5
7
11
13
17
19

In [11]:
num=int(input("enter the first number"))
while(True):
    num=num+1
    if(prime(num)=='prime'):
        break
print(num)

enter the first number3
5

In [89]:
num1=int(input("enter first number"))
num2 =int(input("enter second number"))
for i in range(num1,num2+1):
    if(prime(i)=='prime'):
        print(i)

enter first number5
enter second number20
5
7
11
13
17
19

In [33]:
#palindrome or not
def palin(name):
    if(name[0::]==name[::-1]):
        print('palindrome')
    else:
        print('not')

nitin='kiran'
print(nitin[-2:-1])
print(nitin[-3::])

a
ran

In [102]:
name=input('enter your name')
palin(name)

enter your namenitin
palindrome

In [55]:
def sum_num(number):
    sum2=0
    while number>0:
        n1=number%10
        sum2=sum2+n1
        number=number//10
    return sum2

In [6]:
number=int(input("enter your number"))
summ=sum_num(number)
print(summ)

enter your number1234
10

In [2]:
def rev(num):
    str= num[::-1]
    return int(str)

In [3]:
num = input("enter the number")
rev(num)

enter the number1234

4321

In [4]:
def revers(num):
    rev=0
    while(num>0):
        digit=num%10
        rev=rev*10+digit
        num=num//10
    return rev

In [5]:
num=int(input("enter the number"))
i=revers(num)
if(i==num):
    print("same as reverse")
else:
    print('not same')

enter the number211
not same

In [6]:
def w3(x,y=3):
    word=''
    s3=''
    try:
        word =x*y
        s3=word+'!!'
    except:
        print("x argument be a string and y is integr")
    return s3

In [8]:
w3('yay','rr')

x argument be a string and y is integr

''

In [9]:
w3(12)

x argument be a string and y is integr

''

In [56]:
l1=[98,97,96]
sum3=0
for i in l1:
    sum3=sum3+i
print(sum3)

291

In [27]:
print([1,2,3])

[1, 2, 3]

In [28]:
print(['Meghana','Charan'])

['Meghana', 'Charan']

In [52]:
l1=[35,25,15]
sum1=0
for i in l1:
     sum1=sum1+i
print(sum1)

75

In [32]:
len(l1)

3

In [33]:
print(range(len(l1)))

range(0, 3)

In [34]:
for i in range(len(l1)):
    print(i)

0
1
2

In [10]:
a=[4,5,6]
b=[1,2,3]
c=a+b
print(c[3:6])

[1, 2, 3]

In [11]:
print(c[:4])

[4, 5, 6, 1]

In [46]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [48]:
a.append(8)
print(a)

[4, 5, 6, 8, 8]

In [1]:
sorted([1,2,4,3,3,6])

[1, 2, 3, 3, 4, 6]

In [60]:
a.sort()
print(a)
print(max(a))
print(min(a))

[4, 5, 6, 8, 8]
8
4

In [1]:
b=[1,2,3]
print(sum(b))

6

In [3]:
avg=print(sum(b)/len(b))

2.0

In [10]:
#first-index,second-element
b=[7,5,6]
b.insert(1,2)
print(b)
b.remove(2)
b.pop(1)

[7, 2, 5, 6]

5

In [11]:
print(b)

[7, 6]

In [16]:
l2=[]
l2.append(8)
l2.append(5)
l2.append(3)
l2.append(2)
print(l2)

[8, 5, 3, 2]

In [19]:

l2.insert(2,4)
print(l2)

[8, 5, 4, 4, 3]

In [20]:
l2.pop(3)
print(l2)

[8, 5, 4, 3]

In [21]:
l2.insert(4,6)

In [22]:
print(l2)

[8, 5, 4, 3, 6]

In [23]:
#split
str="python programming"
list=str.split('a')
print(type(list))
print(list)

<class 'list'>
['python progr', 'mming']

In [4]:
str1='aadaff'
print(str1.split('a'))

['', '', 'd', 'ff']

In [1]:
a=['ab','cd']
list1=[]
for i in a:
    list1.append(i)
print(list1)

['ab', 'cd']